*{
    margin:0;
    padding:0;
    list-style-type: none;
    border: none;
    
}
header{
    color: white;
    overflow: hidden;
  padding-top: 10px;
}
.container-desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

body{
    font-family: "SUSE", sans-serif;
}
.desktop{
    display: flex;
    gap: 50px;
}

.dot{
    color: red;
}
.logo{
    font-size: 40px;
    font-weight: bold;
}
a{
 
    text-decoration: none;   
}
.desktop a{
    color: white;
    padding: 10px;
    border-radius: 30px;
    display: block;
    transition: .5s;
}


.desktop a:hover{
    color: white;
    padding: 10px;
    text-decoration: none;
    background-color: #7a0c0c67;
    border-radius: 30px;
}

.primeira{
    background: url(../imgs/primeira\ \(1\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color;
    background-color: #000000a6;
}

.txt{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 20px;
    color: white;
}

.txt div{
    padding: 0 300px;
}
 
.txt p{
    margin-top: 20px;
}

.txt button{
    background-color: #7a0c0c67;
    color: white;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s;
}

.txt button:hover{
    padding: 10px 50px;
    border: none;
    border-radius: 20px;
}

.segundo{
    margin-bottom: 100px;
    text-align: center;
    padding:20px;
}

.servicos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}

.item{
    font-size: 10px;
    padding:0 100px;
}
.segundo h1{
    font-weight: bold;
    margin: 40px 0;
    
}
.servicos img{
    width: 200px;
    margin-bottom: 10px;
    border-radius: 20px;
}



.servicos a:hover{
    padding: 5px 40px;
}


.btn-marcar{
    background-color: #460e0e;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 10px;
    transition: 1s;
    font-size: 15px;
}

.btn-marcar:hover{
    padding: 10px 40px;
}


/*
@media screen and (max-width:1024px){
    .servicos{
        grid-template-columns: repeat(1,1fr);
        
    }
}*/